 @mixin breakpoint($point) {
   @if $point == lg {
     @media (max-width: 1200px) { @content ; }
  }
   @else if $point == md {
     @media (max-width: 992px) { @content ; }
  }
    @else if $point == sm {
     @media (max-width: 767px) { @content ; }
  }
   @else if $point == xs {
     @media (max-width: 320px)  { @content ; }
  }
}

// to use:
//   @include breakpoint(md) {
//     ...
//   }


  @include breakpoint(sm) {
    .no-margin-sm{
      margin:0!important;
    }
    .text-center-sm{
      text-align: center;
    }
    .center-sm{
      margin:0 auto;
      text-align:center;
      display:flex;
      float:none!important;
    }
  }

  @include breakpoint(sm) {

  }
